@page
@model DynamicConfig.Web.MyFeature.Pages.Page1Model

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    <h1>Dynamic Config Test Sayfası</h1>
    <p>Bu sayfa DynamicConfig.UI projesinden geliyor.</p>
</body>
</html>